<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Infinite Pictionary</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/default-styles.css"/>
  <script>
    window.onload = () => {
        const xhr = new XMLHttpRequest();
        let URL;
        
        URL = '/getToken';
        xhr.onload = (result) => {
            document.querySelector("#csrf").value = result.csrfToken;
        };

        xhr.open("GET",URL);

        xhr.setRequestHeader('Accept',"application/javascript");
        xhr.send();
    }
  </script>
</head>
<body> 
  <body>
    <header>
      <h1>Infinite Pictionary</h1>
    </header>
    <nav>
      <div><a href="/login">LOGIN</a></div>
      <div><a href="/signup">SIGNUP</a></div>
    </nav>
    <form id="signupForm" name="signupForm"
        action="/signup"
        method="POST"
        className="mainForm"
    >
        <label htmlFor="username">Username: </label>
        <input id="user" type="text" name="username" placeholder="username"/>
        <label htmlFor="pass">Password: </label>
        <input id="pass" type="text" name="pass" placeholder="password"/>
        <label htmlFor="pass2">Confirm Password: </label>
        <input id="pass2" type="text" name="pass2" placeholder="retype password"/>
        <input type="hidden" name="_csrf" value=""/>
        <input className="formSubmit" type="submit" value="Sign Up"/>
    </form>
      <img src="/assets/img/pictionary.jpg" width="800" height="600">
      
    </div>
  </body>
</body>
</html>